<module>
	<rawname>presencestate</rawname>
	<repo>standard</repo>
	<name>Presence State</name>
	<version>12.0.16</version>
	<publisher>Schmooze Com Inc</publisher>
	<license>GPLv3+</license>
	<licenselink>http://www.gnu.org/licenses/gpl-3.0.txt</licenselink>
	<category>Admin</category>
	<description>Manage list of presence states.</description>
	<menuitems>
		<presencestate needsenginedb="yes">Presence State</presencestate>
	</menuitems>
	<depends>
		<phpversion>5.3.0</phpversion>
	</depends>
	<changelog>
		*12.0.16* Undefined indexes in UCP
		*12.0.15* Presence state trigger in UCP
		*12.0.14* Realign
		*12.0.13* UCP Fixes
		*12.0.12* Cleanup
		*12.0.11* More presencestate missing issues
		*12.0.10* Fix issue in UCP when statuses have never been set
		*12.0.9* Allow Presencestate to be disabled in UCP
		*12.0.8* Use textfill for presencestate updates
		*12.0.7* More spelling
		*12.0.6* Spelling Mistakes in UCP
		*12.0.5* UCP Redesign
		*12.0.4* More UCP Work
		*12.0.3* Restructure Parts of UCP
		*12.0.2* Auto Save on change in UCP
		*12.0.1* UCP Module Addition
		*2.11.3* Add license file
		*2.11.2* Changes and additions for UCP in FreePBX 12
		*2.11.1* Add Presence State preferences.
		*2.11.0* Initial release
	</changelog>
	<supported>
		<version>12.0</version>
	</supported>
</module>
